{{!< default}}

{{! This is the post loop - each post will be output using this markup }}
{{#if @blog.cover}}
	<section id="blog-intro" class="cyan section z-depth-1" style="background-image:url('{{@blog.cover}}');">
{{else}}
	<section id="blog-intro" class="cyan section z-depth-1" style="background-image:url('{{asset "images/index.jpg"}}');">
{{/if}}
		<div class="container">
			<h2 id="blog-title" class="white-text">{{@blog.title}}</h2>
			<h5 class="white-text">{{@blog.description}}</h5>
		</div>
	</section>
<section id="index-posts-container" class="container">
{{#foreach posts}}
	<article class="{{post_class}}">
		<div class="card-panel z-depth-1">
			<div class="row">
				<div class="col s12 m9">
					<header class="post-header">
						<h4 class="post-title "><a class="grey-text darken-3" href="{{url}}">{{{title}}}</a></h4>
					</header>
					<section class="post-excerpt">
						<p class="flow-text">{{excerpt words="30"}}...</p>
						<a href="{{url}}" class="read-more waves-effect waves-light btn cyan darken-2">Read more</a>
					</section>
				</div>
				<aside class="col s12 m3">
					<footer class="post-meta container">
						{{#if author.image}}
							<p><img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" /></p>
						{{/if}}
						<p>
							{{author}} <br><time class="post-date grey-text lighten-1" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
						</p>
						{{#if tags}}
							<p class="tag-cloud">
								<span><i class="mdi-maps-local-offer"></i>{{tags prefix=" "}}</span>
							</p>
						{{/if}}
					</footer>
				</aside>
			</div>
		</div>
	</article>
{{/foreach}}
{{pagination}}
</section>